In [2]:
import re

## Упражнение #1

В файле text_1.txt находится информация о статьях в стиле bibtex. Нас интересуют авторы (authors=...). Для каждой статьи из строки про авторов нужно получить список очищенных полных имен (без пробелов, функциональных слов и открывающих и закрывающих фигурных скобок).

In [3]:
with open("text_1.txt", "r", encoding="utf-8") as file:
    text = file.read()

In [17]:
regex = "author={(.*)}"
authors = re.findall(regex, text)
clean_authors = []

# TODO
for a in authors:
    a_new = a.split(" and ")
    clean_authors.append(a_new)

clean_authors

[['Diaz, Navarro David', 'Gines, Rodriguez Noe'],
 ['Standefer, Michael', 'Bay, Janet W', 'Trusso, Russell'],
 ['GenTSCH, JoN R',
  'Glass, RI',
  'Woods, P',
  'Gouvea, V',
  'Gorziglia, M',
  'Flores, J',
  'Das, BK',
  'Bhan, MK'],
 ['Arellano-Baeza, A', 'Zverev, A', 'Malinnikov, V'],
 ['Kordesch, Karl', 'Simader, G{\\"u}nter', 'Wiley, John'],
 ['Trainor, Sarah F',
  'Calef, Monika',
  'Natcher, David',
  'Chapin, F Stuart',
  'McGuire, A David',
  'Huntington, Orville',
  'Duffy, Paul',
  'Rupp, T Scott',
  "DeWilde, La'Ona",
  'Kwart, Mary',
  'others']]

## Упражнение # 2

Написать регулярное выражение для вытаскивания фамилий и инициалов авторов статей и книг из файла text_2.txt

In [19]:
with open("text_2.txt", "r", encoding="utf-8") as file:
    text = file.read()

In [26]:
regex = "\d*.\s*([^:]*)?.*"
authors = re.findall(regex, text)

result = []

for a in authors:
    ind_authors = re.findall("([^,]*,\s[A-Z|\.]*),?", a)
    authors_clean = [i.strip() for i in ind_authors]
    result.append(authors_clean)

result

[['Spalding, K.L.',
  'Buchholz, B.A.',
  'Bergman, L.E.',
  'Druid, H.',
  'Frisén, J.'],
 ['Lovecraft, H.P.'],
 ['Duncan, R.'],
 ['Santos, N.', 'Hoshino, Y.'],
 ['DIARRHOEA, R.'],
 ['Barton, T.'],
 ['Gauquelin, M.'],
 ['Hoshino, Y.',
  'Sereno, M.M.',
  'Midthun, K.',
  'Flores, J.',
  'Kapikian, A.Z.',
  'Chanock, R.M.'],
 ['Healy, J.',
  'Hayden, C.',
  'Xie, T.',
  'Olson, K.',
  'Waldo, R.',
  'Brundage, M.',
  'Gasteiger, H.',
  'Abbott, J.'],
 ['Lovecraft, H.P.'],
 ['Socco, L.', 'Strobbia, C.', 'Sambuelli, L.', 'Foti, S.'],
 ['Lovecraft, H.P.', 'Turner, J.'],
 ['Alighieri, D.'],
 ['Cumont, F.V.M.'],
 ['McClatchey, R.A.', 'Fenn, R.', 'Selby, J.A.', 'Volz, F.', 'Garing, J.'],
 ['GenTSCH, J.R.',
  'Glass, R.',
  'Woods, P.',
  'Gouvea, V.',
  'Gorziglia, M.',
  'Flores, J.',
  'Das, B.',
  'Bhan, M.'],
 ['Murphy, T.V.',
  'Gargiullo, P.M.',
  'Massoudi, M.S.',
  'Nelson, D.B.',
  'Jumaan, A.O.',
  'Okoro, C.A.',
  'Zanardi, L.R.',
  'Setia, S.',
  'Fair, E.',
  'LeBaron, C.W.'],
 ['Delmay, B.'],
 ['Kurucz, R.'],
 ['Andrewes, D.G.', 'Holton, J.R.', 'Leovy, C.B.'],
 ['Welch, T.A.'],
 ['Alighieri, D.', 'Landino, C.', 'da Figino, P.', 'Capcasa, M.'],
 ['Tester, S.J.'],
 ['Craig, H.', 'Gordon, L.I.']]

## Упражнение # 3

Дана некоторая html страница -- text_3.html. Из нее нужно вытащить контент всех хедеров. Хедеры задаются открывающим тегом \<h1> и закрывающим \<\h1>. Бывают хедеры уровней 2, 3, 4 и т.д. Нам нужны они все :)

In [27]:
with open("text_3.html", "r", encoding="utf-8") as file:
    text = file.read()

In [ ]:
regex = "<h\d>.*<.h\d>"
headers = re.findall(regex, text)

Теперь из списка с хедерами нужно вытащить заголовки (title=...).

In [39]:
regex = 'title="([^"]*)?'

titles = []

# TODO
for h in headers:
    title = re.findall(regex, h)
    titles.append(title)

titles

[['Modifica la sezione Galleria fotografica'],
 [],
 [],
 [''],
 [],
 [],
 [],
 [],
 ['Modifica la sezione Televisione'],
 [],
 ['', ''],
 ['', ''],
 ['', ''],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Modifica la sezione Voci correlate'],
 ['', '', '', ''],
 ['Modifica la sezione Ciclismo'],
 []]

## Упражнение # 4

Дана строка, содержащая имена, никнеймы, номера телефонов и имейлы пользователей твиттера. Нужно получить словарь, в качестве ключей содержащий никнеймы, а в качестве значений -- словари с данными соответствующего пользователя:
```
"@ivashka666": {
    "name": "Ivan Ivanov",
    "phone": "123-123-123",
    "email": "ivashka@yahoo.com",
}
```

In [42]:
string = '''Love, Kenneth, kenneth+challenge@teamtreehouse.com, 555-555-5555, @kennethlove
Chalkley, Andrew, andrew@teamtreehouse.co.uk, 555-555-5556, @chalkers
McFarland, Dave, dave.mcfarland@teamtreehouse.com, 555-555-5557, @davemcfarland
Kesten, Joy, joy@teamtreehouse.com, 555-555-5558, @joykesten'''

In [ ]:
print(string)

Love, Kenneth, kenneth+challenge@teamtreehouse.com, 555-555-5555, @kennethlove
Chalkley, Andrew, andrew@teamtreehouse.co.uk, 555-555-5556, @chalkers
McFarland, Dave, dave.mcfarland@teamtreehouse.com, 555-555-5557, @davemcfarland
Kesten, Joy, joy@teamtreehouse.com, 555-555-5558, @joykesten

In [62]:
twitters = {}

names = re.findall("[A-Za-z]+,\s[A-Za-z]+", string)

nicknames = re.findall("\s(@.*)", string)

phones = re.findall("\d.*\D?\d", string)  #[\d|-]+

emails = re.findall("[\w.+]+@[\w.]+\.[a-zA-Z]+", string) #\s([a-z][.+@a-z]+)

# TODO
for i, nn in enumerate(nicknames):
    d = {
        "name": names[i],
        "phone": phones[i],
        "email": emails[i],
    }
    twitters[nn] = d

for item in twitters.items():
    print(item)

('@kennethlove', {'name': 'Love, Kenneth', 'phone': '555-555-5555', 'email': 'kenneth+challenge@teamtreehouse.com'})
('@chalkers', {'name': 'Chalkley, Andrew', 'phone': '555-555-5556', 'email': 'andrew@teamtreehouse.co.uk'})
('@davemcfarland', {'name': 'McFarland, Dave', 'phone': '555-555-5557', 'email': 'dave.mcfarland@teamtreehouse.com'})
('@joykesten', {'name': 'Kesten, Joy', 'phone': '555-555-5558', 'email': 'joy@teamtreehouse.com'})