In [ ]:
from collections import Counter
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# numpy

In [ ]:
# Задание: создайте вектор, заполненный нулями, размера 10, но чтобы пятый элемент был равен 1

# TODO

In [ ]:
# Задание: создайте матрицу 3х3 с элементами от 0 до 49

# TODO

In [ ]:
# Задание: задан вектор, переверните значения элементов задом наперед
Z = np.array([[1,2,0,0,4,0]])

# TODO

In [ ]:
# Задание: создайте матрицу 10х10 и заполните ее рандомными числами. Найдите элементы с минимальным и максимальным значениями

# TODO

In [ ]:
# Задание: создайте двумерный массив, заполненный так, что по периметру стоят единицы, а внутри нули

# TODO

In [ ]:
# Задание: нормализуйте матрицу 5x5, заполненную рандомными числами

# TODO

In [ ]:
# Задание: из каждой строки матрицы вычтите ее среднее
X = np.random.rand(5, 10)

# TODO

In [ ]:
# Задание: в заданном одномерном массиве вычтите удиницу из каждого элемента болье 3 и меньше 8
Z = np.arange(11)

# TODO

# pandas

In [ ]:
# Датасет
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

data = pd.read_csv(url, sep = '\t')
data.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
data.shape

(4622, 5)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# Фильтрация
salad = data[data.item_name == "Veggie Salad Bowl"]

len(salad)

18

In [ ]:
# Задание: найдите в скольких заказах напиток в банке (Canned Soda) заказали больше одного раза

# TODO

In [ ]:
# Самые популярные заказанные блюда
data.item_name.value_counts()[:5]

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [ ]:
# Конвертация типов и применение функции к столбцу
data.item_price.dtype

dtype('O')

In [ ]:
dollarizer = lambda x: float(x[1:-1])
data.item_price = data.item_price.map(dollarizer)

In [ ]:
data.item_price.dtype

dtype('float64')

In [ ]:
# Задание: найдите суммарную выручку по всем заказам (подсказка -- используйте функцию sum())

# TODO


print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [ ]:
# Группировка и сортировка
c = data.groupby('choice_description')['quantity'].sum().reset_index()
c.columns = ['choice_description', 'quantity']
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

   choice_description  quantity
15        [Diet Coke]       159

In [ ]:
# Задание: найдите среднюю выручку за заказ

# TODO

In [ ]:
# Задание: найдите самое дорогое заказанное блюдо

# TODO

In [ ]:
# Задание: постройте гистограмму топ 5 заказанных блюд
# Берем все заказанные блюда
x = data.item_name

# С помощью класса Counter создаем словарь название: количество
item_counts = Counter(x)

# СОздаем датафрейм
df = pd.DataFrame.from_dict(item_counts, orient='index')

# TODO


# Set the title and labels
plt.xlabel('Items')
plt.ylabel('Number of Times Ordered')
plt.title('Most ordered items')

# show the plot
plt.show()

In [ ]:
# Задание: постройте scatter plot, в котром по оси X будут стоимости заказов, а по оси Y -- количество раз этих заказов

# TODO


plt.xlabel('Order Price')
plt.ylabel('Items ordered')
plt.title('Number of items ordered per order price')
plt.ylim(0)